*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}



body{
    height: 100%;
    background-repeat: no-repeat;
  background-size: 100% 100%;
    background-attachment:fixed;
	overflow: auto;background-image: url('https://img4.goodfon.ru/wallpaper/nbig/1/8d/priroda-derevia-vid-sverkhu-les.jpg'); 
}

main{
    height:70%;
}

section{
        text-align: center;
    }

footer{
  
    width:10%;
    margin-left: 90%;
    text-align: right;
     color: antiquewhite;
     height: 10%;
     left: 0;
     bottom: 0;
     position: fixed;
    
 }

/* заголовок страницы*/
h1{ 
text-align:center;
background-color: #FFEBCD; 
background-color: rgba(190,254, 168, 0.6);
margin-bottom:-70px;
margin-top:0px;
padding-top:10px;
padding-bottom:10px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
}

/*кнопоки Добавить*/
.buttons{
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
list-style: none;
margin-left: 82%;
position: absolute;
   
}
#button2{
    font-size:20px; 
}


 table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-top: 150px;
    color: rgb(228, 233, 160);
    margin-left: 19%;
    background: linear-gradient(to top left,  rgba(5, 146, 23, 0.7), rgba(58, 175, 190, 0.7));
}
    

td, th {
    border: 2px solid #270303;
    text-align: left;
    padding: 8px;
}
  
th{
        color:rgb(0, 0, 0);
}  
    
/*картинки "Удалить"*/
#imgDel{
    width:25px;
    height: 25px;
    padding: 0;
    margin-left: -10px;
    

}

#test{
    width: 100px;
}
    
#Del{width: 100px;}
    



#editSell{
    width: 100%;
    height: 2,5%;
    margin-top: 0px  ;
    background-color: rgba(190,254, 168, 0.6);

}






/*Свойства меню*/  
#nav{ 
   
    float:left;
	margin-left: 1%;
    width:60px;
    list-style: none;
    font-weight: bold;
	text-align: center;
	padding-left: 1px;
    padding-right: 0px;

}

#nav li{
    
    float: left;
    display: block;
    position: relative;
}


/* настройка выпадающего списка*/
#nav ul{
    list-style:none;
    left:-9999px; /* убираем элементы за пределы программы*/
	opacity:0; /*скрываем <ul> */
	-webkit-transition: 0.8s linear opacity; 
    position:absolute;
}

/*Настройка элементов списка*/
#nav ul li{
    padding-top: 1px; 
    float: none;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:block;
    /* Запрет переноса строки текста на новую строку */
    white-space: nowrap; 
}

/*Свойства для ссылок*/
a{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;

}
/*Наведение мыши на меню*/
#nav li:hover ul{ 
    left:0; /* Возвращение элементов обратно на экран */
    opacity:1; 
}

#nav li:hover a{ 
    background:#024e19;
    /* Убераем форматирование*/
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.077s linear;
}

#nav li:hover ul li a:hover{ /* стили для конкретных выпадающих пунктов, при наведении на них курсора */
    -moz-transform:scale(1.07);
    -webkit-transform:scale(1.07);
    /* цвет фона выпадающего элемента*/
    background:#334;
    background:rgba(50,50,50,0.4); /* Полупрозрачность. */
    text-decoration:underline;
}