html{
    height: 100%;
}
/* свойства для заголовка*/
h1{ 
text-align:center;
background-color: #FFEBCD; 
background-color: rgba(190,254, 168, 0.6);
margin-bottom:-70px;
margin-top:0px;
padding-top:10px;
padding-bottom:10px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
}

body{
    height: 100%;
    background-repeat: no-repeat;
  
    background-attachment:fixed;
	overflow: auto;background-image: url('https://img4.goodfon.ru/wallpaper/nbig/1/8d/priroda-derevia-vid-sverkhu-les.jpg'); background-size: 100%;
}


main{
    height:70%;
}

.buttons{
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
list-style: none;
margin-left: 920px;
   
}
#button2{
    font-size:20px; margin-left: 100px;display: none;
}

input{
    position: fixed;
}
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    /* position: absolute;*/
    width:10%;
    margin-left: 1100px;
    text-align: right;
     color: antiquewhite;
     height: 10%;
     left: 0;
     bottom: 0;
     position: fixed;
     
    
 }
 table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-top: 150px;
    color: rgb(228, 233, 160);
    margin-left: 19%;
    background: linear-gradient(to top left,  rgba(5, 146, 23, 0.7), rgba(58, 175, 190, 0.7));
    }
    

    td, th {
    border: 2px solid #270303;
    text-align: left;
    padding: 8px;
    }
    
    section{
        text-align: center;
    }
    #imgEx{
        width:25px;
        height: 25px;
        padding: 0;
        text-align: center;
    }
    #imgDel{
        width:25px;
        height: 25px;
        padding: 0;
       margin-left: -10px;
    
    }
    #test{
        width: 100px;
    }
    #Del{width: 100px;}
    th{
        color:rgb(240, 146, 6);
    }
#typeTbl{
    margin-top: 40px;
    margin-left: 50px;
    float: left;
}

#typeWag {
    color:white;
}

#dateWag{
    color: white;
}

#dateChoose{
font-size: 30px;
color:rgb(255, 162, 56);
}

#dateTbl{
    margin-top: 120px;
    margin-left: -150px;
    float: left;
}
#monthTbl{
    margin-top: 200px;
    margin-left: -130px;
    float: left;
}
#otch{
    margin-top: 300px;
    margin-left: -120px;
    float: left;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

/*Свойства меню*/  
#nav{ 
   
    float:left;
	margin-left: 1%;
    width:60px;
    list-style: none;
    font-weight: bold;
	text-align: center;
	padding-left: 1px;
    padding-right: 0px;

        
    
    /*border: none;*/
}

#nav li{
    
    float: left;
    /* Делаем элементы блочными. */
    display: block;
    /* Позиционирование относительно исходного места */
    position: relative;
}


/* настройка выпадающего списка*/
#nav ul{
    /* Убираем маркеры у выпадающего списка*/
    list-style:none;
    left:-9999px; /* убираем элементы за пределы программы*/
	opacity:0; /* При помощи прозрачности, скрываем <ul>. */
    
    /* Обрабатываем всплывающие элементы выпадающего списка при наведении мышки. */
	-webkit-transition: 0.8s linear opacity; 
    position:absolute;
}

/*Настройка элементов списка*/
#nav ul li{
    padding-top: 1px; 
    float: none;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:block;
    /* Запрет переноса строки текста на новую строки */
    white-space: nowrap; 
}

/*Свойства для ссылок*/
a{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;

}
/*Наведение мыши на меню*/
#nav li:hover ul{ /* Создаю выпадающий пункт, который появится при наведении. */
    left:0; /* Возвращение элементов обратно на экран пользователя */
    opacity:1; /* Убирается прозрачность*/
}

#nav li:hover a{ 
    background:#024e19;
    /* Убераем форматирование*/
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.077s linear;
}

#nav li:hover ul li a:hover{ /* стили для конкретных выпадающих пунктов, при наведении на них курсора */
    -moz-transform:scale(1.07);
    -webkit-transform:scale(1.07);
    /* цвет фона выпадающего элемента*/
    background:#334;
    background:rgba(50,50,50,0.4); /* Полупрозрачность. */
    text-decoration:underline;
}