*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-repeat: no-repeat;
  
    background-attachment:fixed;
	overflow: auto;
    background-image: url('https://img4.goodfon.ru/wallpaper/nbig/1/8d/priroda-derevia-vid-sverkhu-les.jpg');
    background-size: 100%;
   

}

main{
    height:60%;
}

section{
    text-align: center;
}

footer{
width:100%;
text-align: right;
color: antiquewhite;
height: 10%;
left: 0;
bottom: 0;
position: fixed;

}


/*заголовок страницы*/
h1{ 
    text-align:center;
    
    background-color: rgba(190,254, 168, 0.6);
    margin-bottom:-100px;
    margin-top:0px;
    padding-top:12px;
    padding-bottom:12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    }

/*форма*/
.prov{
    margin-top: 18%;
    margin-left: 25%;
    color:rgb(226, 250, 12);
    width: 50%;
    height: 400px;
    font-size: 25px;

}
li{
    display: block;
    text-align: left;
    padding-top: 7px;
   
}
input{
    float: right;
    padding-top: 3px;
    padding-right: 22%;
    margin-top: 5px;
}
form li{
    margin-top: 10px;    
}


/*кнопка "вернуться назад"*/
#return{
    font-size:20px; padding:0px; text-align: center;margin-top: 12px; margin-right: 6%;
}


/*Свойства меню*/  
#nav{ 
float:left;
margin-left: 1%;
width:60px;
list-style: none;
font-weight: bold;
text-align: center;
padding-left: 1px;
padding-right: 0px;
}

#nav li{
float: left;
display: block;
position: relative;
}


/* настройка выпадающего списка*/
#nav ul{
list-style:none;
left:-9999px; /* убираем элементы за пределы программы*/
opacity:0; /* скрываем <ul> */

/*при наведении мышки*/
-webkit-transition: 0.8s linear opacity; 
position:absolute;
}

/*Настройка элементов списка*/
#nav ul li{
padding-top: 1px; 
float: none;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;
display:block;
/* Запрет переноса строки текста на новую строки */
white-space: nowrap; 
}

/*Свойства для ссылок*/
a{
display: block;
width: 100%;
padding: 10px;
color: white;
text-decoration: none;
}

/*Наведение мыши на меню*/
#nav li:hover ul{ 
left:0; /* Возвращение элементов обратно на экран */
opacity:1; 
}

#nav li:hover a{ 
background:#024e19;
/* Убераем форматирование*/
text-decoration:none;
-webkit-transition:-webkit-transform 0.077s linear;
}

#nav li:hover ul li a:hover{ /* стили для конкретных выпадающих пунктов, при наведении на них курсора*/
-moz-transform:scale(1.07);
-webkit-transform:scale(1.07);
/*цвет фона выпадающего элемента*/
background:#334;
background:rgba(50,50,50,0.4); /* Полупрозрачность */
text-decoration:underline;
}






