*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
height: 100%; /* Высота страницы */     
}

/* свойства для заголовка*/
h1{ 
text-align:center;
background-color: #FFEBCD; 
margin-bottom:-80px;
margin-top:50px;
padding-top:10px;
padding-bottom:10px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
}

body{
    background-image: url('https://img4.goodfon.ru/wallpaper/nbig/1/8d/priroda-derevia-vid-sverkhu-les.jpg'); background-size: 100%;
}

.buttons{
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
list-style: none;
margin-left: 420px;
   
}
#button2{
    font-size:20px; margin-left: 100px;display: none;
}

input{
    position: fixed;
}


