*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-repeat: no-repeat;
   
    background-attachment:fixed;
    overflow: auto;
    height: 100%;

    background-size: 100% 100%;
   /*background-image: url('http://www.rosphoto.com/images/u/articles/1605/6-tim-verbrugghe.jpg');*/
    background-size: 100%;
}
/*.pic-1{
    background-image: url([url]http://www.rosphoto.com/images/u/articles/1605/6-tim-verbrugghe.jpg);[/url]
}
.pic-2{
    background-image: url([url]https://rossaprimavera.ru/static/files/727f760bf1c2.jpg);[/url]
}
.pic-3{
    background-image: url([url]http://lorempixel.com/output/nightlife-q-c-1004-1004-9.jpg);[/url]
}
*/



main{
       height: 90%;
   }


footer{

   width:100%;
   text-align: right;
    color: antiquewhite;
    height: 10%;
    left: 0;
    bottom: 0;
    position: fixed;
}

   /*Свойства звголовка*/ 
h1{
    text-align:center;
    background-color: rgba(190,254, 168, 0.6);
    margin-bottom:-55px;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    }

    


/*Свойства меню*/  
#nav{ 
   
    float:left;
	margin-left: 1%;
    width:60px;
    list-style: none;
    font-weight: bold;
	text-align: center;
	padding-left: 1px;
    padding-right: 0px;
}

#nav li{
    
    float: left;
    display: block;
    position: relative;
}


/* настройка выпадающего списка*/
#nav ul{
    list-style:none;
    left:-9999px; /* убираем элементы за пределы программы*/
	opacity:0; /* скрываем <ul>. */
    
    /* Обрабатываем всплывающие элементы выпадающего списка при наведении мышки. */
	-webkit-transition: 0.8s linear opacity; 
    position:absolute;
}

/*Настройка элементов списка*/
#nav ul li{
    padding-top: 1px; 
    float: none;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:block;
    /* Запрет переноса строки текста на новую строки */
    white-space: nowrap; 
}

/*Свойства для ссылок*/
a{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;

}
/*Наведение мыши на меню*/
#nav li:hover ul{ /*выпадающий пункт, который появится при наведении. */
    left:0; /* Возвращение элементов обратно на экран */
    opacity:1; 
}

#nav li:hover a{ 
    background:#024e19;
    /* Убераем форматирование*/
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.077s linear;
}

#nav li:hover ul li a:hover{ /*стили для конкретных выпадающих пунктов, при наведении на них курсора*/
    -moz-transform:scale(1.07);
    -webkit-transform:scale(1.07);
    background:#334;
    background:rgba(50,50,50,0.4); /*полупрозрачность */
    text-decoration:underline;
}


<<<<<<< HEAD
=======
footer{
   /* position: absolute;*/
   width:100%;
   text-align: right;
    color: antiquewhite;
    height: 10%;
    left: 0;
    bottom: 0;
    
   
}

/*https://www.rosphoto.com/images/u/articles/1606/1_14.jpg*/

body{
background-image: url('http://www.rosphoto.com/images/u/articles/1605/6-tim-verbrugghe.jpg'); background-size: 100%;
}

>>>>>>> f3ee117acfb1e1c48a8566741d965a99967aac6d





