

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
	background-image: url('https://img4.goodfon.ru/wallpaper/nbig/1/8d/priroda-derevia-vid-sverkhu-les.jpg'); background-size: 100%; 
}



/*Свойства блока "параметры"*/
.param{
	margin-top:14%;
    margin-left:10%;
   
    width: 68%;
    color: #FFEBCD;
     clear:both; text-align:right;
    margin-top: 180px;
    font-size: 30px;
}





/*Свойства полей*/ 
input{
	margin-top: 50px;
	padding-left: 2px;
}









